@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scrollVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-vertical {
  display: flex;
  flex-direction: column;
  animation: scrollVertical 18s linear infinite;
}
